<nav class="nav container">
    <a href="#" class="nav_logo">
        <img src="../assets/images/logo.png" alt="logo" />
    </a>
    <div class="nav_leftblock">
        <div class="search">
            <input class="search_input" type="text" placeholder="Поиск..." />
            <button class="search_icon">
                <img src="../assets/icon/search.svg" alt="" />
            </button>
        </div>
        <a href="!#" class="nav_content">
            <img src="assets/icon/compare.svg" alt="" />
            <span class="nav_content_text">Сравнивать</span>
        </a>
        <a href="!#" class="nav_content">
            <img src="assets/icon/currency.svg" alt="" />
            <span class="nav_content_text">Валюта</span>
        </a>
        <a href="!#" class="nav_content nav_cart">
            <img src="assets/icon/shopping-cart.svg" alt="" />
            <span class="nav_content_text">Корзина</span>
            <div class="nav_cart_circle"></div>
        </a>
        <a href="./registration.html" class="nav_content">
            <img src="assets/icon/user.svg" alt="" />
            <span class="nav_content_text">Профиль</span>
        </a>
    </div>
</nav>