

.slider_card {
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid rgba(93, 95, 239, 0.2);
}

.image {
    display: flex;
    justify-content: center;
    padding: 2px 4px;
}

.image img {
    max-width: 114px;
    height: 169px;
}

.content {
    background: rgba(247, 247, 254, 1);
    padding: 10px
}

.sup_title {
    color: #ccc;
    font-family: SFProDisplay-Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 7px;
}

.title {
    color: rgb(14, 24, 44);
    font-family: SFProDisplay-Bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

.price_wrap {
    position: relative;
}

.price_wrap .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price .old_price {
    color: #ccc;
    text-decoration: line-through;
    font-family: SFProDisplay-Regular;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.price .new_price {
    color: rgb(93, 95, 239);
    font-family: SFProDisplay-Bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.add {
    background: #FFC105;
    border-radius: 30px;
    padding: 16px;
    font-size: 14px;
    font-family: SFProDisplay-Bold;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 0;
    right: -120%;
    transition: 0.3s;
}

.cart {
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 15px;
    border-radius: 100%;
    border: 1px solid rgba(60, 85, 165, 0.2);
}