.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    color: rgb(14, 24, 44);
    font-family: SFProDisplay-Bold;
    font-size: 3;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: left;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}