@font-face{
    src: url('./assets/fonts/SFProDisplay-Regular.woff2');
    font-family: SFProDisplay-Regular;
    font-weight: 400;
}
@font-face{
    src: url('./assets/fonts/SFProDisplay-Medium.woff2');
    font-family: SFProDisplay-Medium;
    font-weight: 500;
}
@font-face{
    src: url('./assets/fonts/SFProDisplay-Bold.woff2');
    font-family: SFProDisplay-Bold;
    font-weight: 700;
}