 .grid {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     gap: 30px;
 }

 .child1 {
     grid-column: span 8;
 }

 .feature_box {
     grid-column: span 4;
 }

 .trustpay_box {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 10px;
     background-color: rgba(93, 95, 239, 0.1);
     padding: 30px;
     margin-bottom: 30px;
 }

 .iman {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .feature_box .title {
     color: rgba(14, 24, 44, 1);
     font-family: SFProDisplay-Bold;
     font-size: 36px;
     /* font-weight: 700; */
     line-height: 100%;
     letter-spacing: 0%;
     text-align: left;
     padding-bottom: 10px;
 }

 .feature_box .text {
     color: rgb(14, 24, 44);
     font-family: SFProDisplay-Medium;
     font-size: 16px;
     /* font-weight: 500; */
     line-height: 100%;
     letter-spacing: 0%;
     text-align: left;
 }

 .icon_halal {
     display: flex;
     justify-content: end;
     filter: grayscale(100%);
 }

 .shipping_box {
     background: rgba(246, 233, 233, 1);
     padding: 30px;
     display: flex;
     position: relative;
     border-radius: 10px;
 }

 .shipping_box::before {
     content: "";
     position: absolute;
     top: 130px;
     left: 40px;
     width: 40px;
     height: 40px;
     background: url(../../../../assets/icon/truck.svg) no-repeat;
     background-size: cover;
     z-index: 1;
 }

 .shipping_box::after {
     content: "";
     position: absolute;
     top: 10px;
     right: 35px;
     width: 55px;
     height: 55px;
     background: url(../../../../assets/icon/truck.svg) no-repeat;
     background-size: cover;
     z-index: 1;
 }
 .grid_bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}